name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/key.pem
          chmod 600 ~/.ssh/key.pem
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Run Ansible Playbooks
        run: |
          ansible-playbook -i "${{ secrets.EC2_HOST }}," \
            -u "${{ secrets.EC2_USER }}" \
            --private-key ~/.ssh/key.pem \
            ansible/docker-install.yml

          ansible-playbook -i "${{ secrets.EC2_HOST }}," \
            -u "${{ secrets.EC2_USER }}" \
            --private-key ~/.ssh/key.pem \
            ansible/docker-run.yml
